{
  "singleQuote": true,
  "tabWidth": 2,
  "semi": false,
  "trailingComma": "none",
  "printWidth": 80,
  "importOrder": ["^@core/(.*)$", "<THIRD_PARTY_MODULES>", "^@/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "overrides": [
    {
      "files": "*.{js,cjs,mjs,ts,cts,mts,tsx,vue}",
      "options": {
        "plugins": ["@trivago/prettier-plugin-sort-imports"]
      }
    }
  ]
}
